*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .mainContainer {
    flex-direction: row;
    justify-content: center;
  }
}
