.flexContainer {
  height: 25vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px 0 0 0;
}

.natSufrin {
  font-family: "Abel", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}

.mainListContainer {
  list-style: none;
  padding: 0;
  text-align: center;
  position: relative;
}

.poetryContainer {
  display: none;
  position: absolute;
  padding: 10px 0 0 0;
  right: 0;
  left: 0;
}

.visible {
  display: block;
}

li {
  display: inline;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: black;
}

li:hover {
  color: red;
}

li:not(:first-child) {
  margin-left: 10px;
}

li:not(:first-child)::before {
  content: "";
  height: 20px;
  border: 1px solid black;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .flexContainer {
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .menu {
    width: 75%;
    text-align: right;
  }

  .mainListContainer {
    text-align: right;
  }

  .poetryContainer {
    position: relative;
    padding: 10px 0 10px 15px;
  }

  li {
    display: block;
    margin: 15px 0;
  }

  li:not(:first-child) {
    margin-left: 0;
  }

  li:not(:first-child)::before {
    content: "";
    height: 0;
    border: none;
    margin-right: 0;
  }
}
