.imageContainer {
  width: 100vw;
  height: 100vw;
}

.imageContainer img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .galleryContainer {
    width: 50vw;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .imageContainer {
    width: 75%;
    max-height: 95%;
  }
}
